<h1>Welcome to BuildBlast</h1>
<p>This game is in pretty heavy development. This website is more fragile than the 1930's economy in America.<br><br>
<a href="http://play.buildblast.com">PLAY!</a></p>

<h1>Servers!</h1>
<% if user_signed_in? %>
  <%= form_tag("api/servers", method: "create") do %>
    <%= label_tag("server_name", "Server name:") %>
    <%= text_field(:server, :name) %>
    <%= submit_tag("Create Server") %>
  <% end %>
<% end %>
<br>
<% @servers.each do |server| %>
  <div>
    <a href='<%="https://server" + (server[:portOffset] + 10000).to_s + ".buildblast.com/"%>'>
        <%=server[:name]%>
    </a>
  </div>
<% end %>
